.nav-link {
  color: #b3b3b3 !important; /* Light gray for inactive */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #e5e5e5 !important;
}

.nav-link.active {
  color: white !important;
  font-weight: 600;
  cursor: default;
}

.logo {
  width: 100px;
  height: 35px;
}
/* mobile */ 

@media (max-width: 400px) {
  .logo {
    width: 70px;
    height: 35px;
  }
}