<!--
<app-navbar></app-navbar>
<div class="home-container">
  <div class="home-card">
    <div class="success-icon">✓</div>
    <h1>Welcome! 🎬</h1>

    @if (user(); as currentUser) {
    <div class="user-info">
      <p class="welcome-text">
        Connected as <strong>{{ currentUser.username }}</strong>
      </p>
      <p class="email-text">{{ currentUser.email }}</p>
    </div>
    }

    <div class="info-box">
      <h2>Temporary page</h2>
      <p>Temporary page to test auth</p>
      <div class="actions">
        <button class="btn-logout" (click)="logout()"><span>🚪</span> Logout</button>
      </div>
    </div>
  </div>
</div>
-->


    <div class="app-container">
      <app-hero-banner [movie]="bannerMovie"></app-hero-banner>

      <app-movie-row title="NETFLIX ORIGINALS" fetchType="genre" genreId="213" [isLarge]="true"></app-movie-row>
      <app-movie-row title="Trending Now" fetchType="trending"></app-movie-row>
      <app-movie-row title="Top Rated" fetchType="topRated"></app-movie-row>

      <app-movie-row title="Action Thrillers" fetchType="genre" genreId="28"></app-movie-row>
      <app-movie-row title="Comedy Movies" fetchType="genre" genreId="35"></app-movie-row>
      <app-movie-row title="Horror Movies" fetchType="genre" genreId="27"></app-movie-row>
      <app-movie-row title="Romance Movies" fetchType="genre" genreId="10749"></app-movie-row>
      <app-movie-row title="Documentaries" fetchType="genre" genreId="99"></app-movie-row>
    </div>
 