.genre-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.column-title {
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
  padding-left: 40px;
  text-transform: uppercase;
}

.column-subtitle{
  color: white;
  margin-bottom: 20px;
  padding-left: 50px;

}

.column-title:hover {
  color: #760000; 

}



.genres-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
