<app-navbar></app-navbar>

@if (bannerTvShow()) {
<div class="app-container fade-in">
  <app-hero-banner [item]="bannerTvShow()"></app-hero-banner>
  <app-content-row title="Trending TV Shows" [fetchType]="fetchTypes.TRENDING" [contentType]="contentTypes.TV"
    [isLarge]="true"></app-content-row>
  <app-content-row title="Top Rated TV Shows" [fetchType]="fetchTypes.TOP_RATED" [contentType]="contentTypes.TV"></app-content-row>
  <app-content-row title="Action & Adventure" [fetchType]="fetchTypes.GENRE" [genreId]="tvGenre.ACTION_ADVENTURE"
    [contentType]="contentTypes.TV"></app-content-row>
  <app-content-row title="Comedy" [fetchType]="fetchTypes.GENRE" [genreId]="tvGenre.COMEDY"
    [contentType]="contentTypes.TV"></app-content-row>
  <app-content-row title="Sci-Fi & Fantasy" [fetchType]="fetchTypes.GENRE" [genreId]="tvGenre.SCI_FI_FANTASY"
    [contentType]="contentTypes.TV"></app-content-row>
  <app-content-row title="Documentaries" [fetchType]="fetchTypes.GENRE" [genreId]="tvGenre.DOCUMENTARY"
    [contentType]="contentTypes.TV"></app-content-row>
</div>
} @else {
<div class="loader-container">
  <div class="spinner"></div>
  <div class="loading-text">Loading TV Shows...</div>
</div>
}